[submodule "syntastic"]    
    path = .vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "vim-coffee-script"]    
    path = .vim/bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-logging"]
	path = .tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com//vim-ruby/vim-ruby
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/bundle/robotframework-vim"]
	path = .vim/bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim
[submodule ".vim/bundle/nimrod.vim"]
	path = .vim/bundle/nimrod.vim
	url = https://github.com/zah/nimrod.vim.git
[submodule ".vim/bundle/vimpreviewpandoc"]
	path = .vim/bundle/vimpreviewpandoc
	url = https://github.com/tex/vimpreviewpandoc
[submodule ".vim/bundle/vim-emblem"]
	path = .vim/bundle/vim-emblem
	url = https://github.com/andorov/vim-emblem.git
