[user]
	name = dpausp
	email = dpausp@posteo.de
[alias]
    co = checkout
    re = rebase
    me = merge
    mn = merge --no-ff
    id = rev-parse HEAD 
[push] 
    default = simple
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[color]
    ui = false
    status = true
    pull = true
    fetch = true
    push = true
	interactive = true
[core]
	excludesfile = ~/.gitignore_global
[rebase]
	instructionFormat = %at <%ae> %s
